.App {
  text-align: center;
    background-image: linear-gradient( 
400deg
 , #bc8ac0, #dbc0cd, #d4a875, #ffc966, #caf5e7, #cce4f1, #256991);
    background-size: cover;
    min-height: 6000px;
}

.App-logo {
  height: 51vmin;
  pointer-events: none;
}

.App-logo {
  height: 32vmin;
  pointer-events: none;
}

.home-page {
  background-image: linear-gradient(400deg, #bc8ac0, #dbc0cd, #d4a875, #ffc966, #caf5e7, #cce4f1, #256991);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  background-size: cover;
  font-size: calc(10px + 2vmin);
  color: #224735;
}

.App-link {
  color: white;
}


.link-wraper {
  display: flex;
  flex-flow: row wrap;
  width: 40vh;
  justify-content: space-around;
  padding: 50px 10px;
}

.page-header img {
  width: 100%;
  height: auto;
  max-height: 250px;
}

.link-wraper > .link {
  text-decoration: none;
  color: black;
  padding: 14px 30px;
  border: black solid 1.5px;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.label {
padding-bottom: 3px;
padding-top: 10px;
}

.input {
  background-color: #f3ecd7;
  border-style: none;
  border: #aaa491 0.6px solid;
  border-radius: 2px;
  line-height: 22px;
}

.form > button {
  border-style: none;
  padding: 10px 40px;
  margin: 15px;
  border-radius: 8px;
  border: #d4a509cb 0.9px solid;
  background-color: #09a5d4cb;
  font-size: 15px;
}

.navigation
.navbar-name {
  height: 19px;
}

.navbar-logo {
  height: 39px;
  width: 36px;
  margin-left: 9px;
}

.brand-navbar-wraper {
  display: flex;
  flex-direction: column;
  height: 65px;
  align-items: center;
}

.board-wraper {
  display: flex;
  flex-flow: row wrap;  
  align-items: center;
  justify-content: space-evenly;
  height: 700px;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.announcement-board {
  background-image: linear-gradient(400deg, #bc8ac0, #dbc0cd, #d4a875, #ffc966, #caf5e7, #cce4f1, #256991);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 700px;
  font-size: calc(10px + 2vmin);
  color: #000000;
}


.media-content {
  list-style: none;
  text-decoration: none;
}

.content {
  border: 4px #cbf3e9 solid;
  border-radius: 16px;
  background-color: white;
  padding-bottom: 20px;
  padding-top: 10px;
  margin: 10px;
  width: 288px;
  font-size: calc(10px + 2vmin);
}

Link .btn-delete-user {
  background-color: transparent;
  border-color: rgb(189, 24, 24);
  color: rgb(189, 24, 24);
  font-weight: bolder;
  box-shadow: #000000;
}

li {
  list-style: none;
}

a {
  border: 1px #98b5ae solid;
  color: black;
  border-radius: 16px;
  background-color: #cbf3e9;
  padding: 6px 35px;
  margin: 10px;
  width: 288px;
  font-size: calc(10px + 2vmin);
  text-decoration: none;
}

.submit {
  border: 1px #98b5ae solid;
  color: black;
  background-color: #cbf3e9;
  padding: 3px 61px;
  margin: 10px;
  margin-top: 19px;
  font-size: calc(10px + 2vmin);
}

.prueba {
  border: none;
  color: black;
  padding: 0;
  margin: 0;
  width: 0;
  font-size: 0;
  text-decoration: none;
}

.user-avatar {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}


button:focus{outline :none;}

